/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

/* style */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,
        "Lucida Sans Regular";
    background-image: url(img/zee_desktop_darker.jpg);
}

.navbar {
    background-color: rgb(53, 53, 53);
    border-bottom   : 1px solid gold;
    width           : 100%;
}

.navbar img {
    width: 45px;
}

.navbar li {
    color: gold;
}

.navbar menu {
    margin: 10px;
    height: 26px;
}

.navbar span {
    width           : 26px;
    height          : 3px;
    background-color: green;
}

.container {
    background-color: rgb(59, 59, 59);
    width           : 758px;
    padding-bottom  : 50px;
}

.hero {
    width              : 100%;
    background-position: 0 -80px;
    height             : max-content;
}


.hero .heading {
    text-align      : center;
    padding         : 10px 0;
    width           : 100%;
    background-color: rgba(34, 34, 34, 0.76);
    color           : rgba(149, 148, 148, 0.803);
}

.content-card {
    height         : 180px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
}

.content-card img {
    object-fit     : cover;
    object-position: 0 -60px;
    width          : 100%;
    height         : 140px;
}

.content-card h1 {
    font-weight     : bold;
    color           : rgb(163, 163, 163);
    background-color: rgba(34, 34, 34, 0.581);
    margin-top      : -38px;
    padding         : 6px;
    box-sizing      : border-box;
    width           : 100%;
}

/* Responsive */

@media screen {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 758px) {
    .navbar {
        background-color: red;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .navbar {
        background-color: white;
    }

    .menu {
        display: flex;
        padding: 20px 25px;
    }

    .navbar ul {
        display: none;
    }

    .content {
        flex-wrap: wrap;
        row-gap  : 20px;
    }

    .content-card {
        width: 80%;
    }

}